@model MoviesOnline.ViewModels.GenreViewModels.GenreDetailViewModel

<div class="container">
    <div class="page-heading clearfix detailHeading">
        <h2 class="text-muted">View Genres</h2>
    </div>
</div>

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <div>
                <div class="detailImage">@Model.Name</div>
            </div>
        </div>

    </div>
</div>