@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Movies Online</h1>
    
    <a style="margin-top:100px" class="btn btn-info display-4" asp-controller="Movie" asp-action="Index">Go to Movie List</a>
    
</div>
